
<div class="row form-row">
    <div class="col-md-12">
        <div class="widget p-1">
            <form action="/Subscription/Pay" method="POST">
                <input type="text" id="TextBox1" placeholder="amount" name="amount"/><br/> <button type="submit">Checkout</button>
            </form>
        </div>
    </div>
</div>
