html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
    font-family: "Inter";
}

body {
    margin-bottom: 60px;
    background-color: #12161d;
    color: #fff;
    overflow: hidden;
}

.e-bigger {
    font-size: x-large;
}

.main-content {
    margin-left: 290px;
    overflow-y: auto;
    height: 92vh;
}


/*BreadCrumb*/
.e-breadcrumb a, .e-breadcrumb a:hover {
    text-decoration: none !important;
    color: inherit !important;
}

/*Button*/
.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none;
}

/*Hyperlink*/
.no-a-decoration, .no-a-decoration:hover {
    text-decoration: none;
    color: inherit;
}