html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
    font-family: 'Roboto Mono', monospace;
}

body {
    margin-bottom: 60px;
    background-color: #ffffff;
    color: #fff;
    overflow: hidden;
}

.e-bigger {
    font-size: x-large;
}

.main-content {
    margin-left: 290px;
    overflow-y: auto;
    height: 92vh;
}


/*BreadCrumb*/
.e-breadcrumb a, .e-breadcrumb a:hover {
    text-decoration: none !important;
    color: inherit !important;
}

/*Button*/
.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none;
}

/*Hyperlink*/
.no-a-decoration, .no-a-decoration:hover {
    text-decoration: none;
    color: inherit;
}

/*Radio Button Group*/
.e-btn-group.custom-rbt-group {
    width: 100%;
}

.e-btn-group.custom-rbt-group .e-btn {
    width: 50%;
}

.custom-rbt-group label.e-btn {
    box-shadow: none !important;
    border: 3px solid #b0b0b0;
    background-color: #b0b0b0;
    color: #fff;
}

.e-btn-group.custom-rbt-group input:checked + label.e-btn {
    background-color: #fff;
    color: #000000;
    border: 3px solid #b0b0b0;
}