html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
    font-family: 'Roboto Mono', monospace;
}

body {
    background: -webkit-linear-gradient(-45deg, rgb(84, 126, 254) 0px, rgb(132, 213, 255) 100%);
    color: #000;
    
}

.e-bigger {
    font-size: x-large;
}

.main-content {
    margin-left: 290px;
    overflow-y: auto;
    height: 92vh;
}

.action-btn-white {
    color: white !important
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none;
}


nav.navbar {
    background-color: #ffffff;
}

    nav.navbar i {
        padding: 10px;
        border-radius: 50%;
        font-size: 1.2rem;
        cursor: pointer;
    }

    nav.navbar i:hover, nav.navbar img:hover {
        cursor: pointer;
        background-color: rgba(215,215,215, 15);
        transform: scale(1.00) translateZ(0px);
    }

nav.navbar {
    /*margin-left: 200px;*/
}


.no-a-decoration, .no-a-decoration:hover {
    text-decoration: none;
    color: inherit;
}

.e-btn-group.custom-rbt-group {
    width: 100%;
}

    .e-btn-group.custom-rbt-group .e-btn {
        width: 50%;
    }

.custom-rbt-group label.e-btn {
    box-shadow: none !important;
    border: 1px solid #fff;
    background-color: rgb(34 43 51);
    color: #fff;
}

.e-btn-group.custom-rbt-group input:checked + label.e-btn {
    background-color: #fff;
    color: #212b36;
    border: 1px solid #fff;
}


.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none;
}


.no-a-decoration, .no-a-decoration:hover {
    text-decoration: none;
    color: inherit;
}


.e-breadcrumb {
    text-decoration: none !important;
    color: #000000 !important;
}

.e-breadcrumb-icon {
    color: #000000 !important;
}




.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none;
}


.no-a-decoration, .no-a-decoration:hover {
    text-decoration: none;
    color: inherit;
}


.e-btn-group.custom-rbt-group {
    width: 100%;
}

.e-btn-group.custom-rbt-group .e-btn {
    width: 50%;
}

.custom-rbt-group label.e-btn {
    box-shadow: none !important;
    border: 3px solid #b0b0b0;
    background-color: #b0b0b0;
    color: #fff;
}

.e-btn-group.custom-rbt-group input:checked + label.e-btn {
    background-color: #fff;
    color: #000000;
    border: 3px solid #b0b0b0;
}

.e-grid {
    border: 0;
    border-radius: 5px;
}

    .e-grid .e-gridcontent, .e-grid .e-table {
        background-color: #ffffff;
    }

    .e-grid .e-gridheader {
        border: 5px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 10px;
        background-color: #ffffff;
    }



    .e-grid .e-gridpager {
        background-color: #ffffff;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .e-grid .e-pagercontainer {
        border: none;
        background-color: #999999;
    }

    .e-grid .e-content table {
        padding: 0px 10px;
    }

    .e-pagercontainer .e-icons {
        background-color: #4b9afa;
        border: none !important;
    }


.e-grid .e-groupcaption,
.e-grid .e-indentcell,
.e-grid .e-recordplusexpand,
.e-grid .e-recordpluscollapse {
    background: rgba(112, 180, 255, 30);
}

.e-grid .e-groupcaption {
    background: -webkit-linear-gradient(-45deg, rgba(112, 180, 255, 30) 0px, rgba(132, 213, 255, 30) 100%);
}
/*
.e-groupcaption {
    background: -webkit-linear-gradient(-45deg, rgb(84, 126, 254) 0px, rgb(132, 213, 255) 100%) !important;
}

.e-indentcell {
    background-color: #ffffff;
}
*/
.e-grid .e-pagercontainer {
    color: #deecf9;
}

.e-grid .e-gridpager .e-prevpagedisabled,
.e-grid .e-gridpager .e-prevpage,
.e-grid .e-gridpager .e-nextpage,
.e-grid .e-gridpager .e-nextpagedisabled,
.e-grid .e-gridpager .e-lastpagedisabled,
.e-grid .e-gridpager .e-lastpage,
.e-grid .e-gridpager .e-firstpage,
.e-grid .e-gridpager .e-firstpagedisabled {
    background-color: #4b9afa;
}

.e-grid .e-gridpager .e-numericitem {
    color: #000;
    background-color: #4b9afa;
    border-color: #4b9afa;
}

.e-grid .e-gridpager .e-currentitem {
    background-color: #fff !important;
    border-color: rgba(75, 154, 250, 100);
    color: #000000;
}

.e-next,
.e-last,
.e-first,
.e-prev {
    color: #000000 !important;
}


.form-row {
    justify-content: center
}


.widget {
    border-radius: 1rem;
    background-color: #fff;
}

    .widget.summary > div:first-child {
        background-color: #fff;
        padding: 1rem;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }

    .widget.summary > div:first-child i {
        font-weight: bold;
    }

    .widget.income > div:first-child {
        color: #65da41;
    }

    .widget.expense > div:first-child {
        color: #ff4e48;
    }

    .widget.balance > div:first-child {
        color: #2aa1ff;
    }

    .widget.chart {
        padding: 5px;
    }
