@model IEnumerable<FinancialNotepad.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="row">
    <div class="col-md-12 justify-content-center">
        <ejs-grid id="categories" dataSource="@Model" gridLines="None"
                  allowSorting="true" allowPaging="true">
            <e-grid-pagesettings pageSize="2"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="Category" field="Title"></e-grid-column>
                <e-grid-column headerText="Type" field="Type" width="150px"></e-grid-column>
                <e-grid-column headerText="Actions" field="Action" width="100px"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
</div>


