@model IEnumerable<FinancialNotepad.Models.Category>


<div class="row">
    <div class="col-md-12">
        <div class="d-flex flex-column">
            <div class="d-flex mb-1">
                <div class="flex-grow-1">
                    <h3 class="fw-bold">"Categories"</h3>
                </div>
                <div>
                    <a class="btn btn-secondary action-btn-white" href="/Category/AddOrEdit">
                        Add Category
                    </a>
                </div>
            </div>
                                        
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 justify-content-center">
        <ejs-grid id="categories_grid" dataSource="@Model" allowSorting="true" allowPaging="true">
            <e-grid-pagesettings pageSize="20"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="Category" field="TitleAndIcon"></e-grid-column>
                <e-grid-column headerText="Actions" template="#actionColumnTemplate" width="100px"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
</div>



<script id="actionColumnTemplate" type="text/x-template">
    <div class="d-flex flex-row justify-content-start edit-block">
        <a class="btn btn-sm no-a-decoration" href="/Category/AddOrEdit/${CategoryId}">
            <i class="fa-solid fa-pen fa-lg"></i>
        </a>
        <form action="/Category/Delete/${CategoryId}" method="post">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-sm btn-link no-a-decoration"
            onclick="return confirm(&quot;Are sure to delete this record?&quot;)">
                <i class="fa-solid fa-trash-can fa-lg"></i>
            </button>
        </form>
    </div>
</script>


<script>
    function toolbarClick(args) {
        var gridObj = document.getElementById("categories_grid").ej2_instances[0];
        if (args.item.id === 'categories_grid_pdfexport') {
            gridObj.showSpinner();
            gridObj.pdfExport();
        }
        else if (args.item.id === 'categories_grid_excelexport') {
            gridObj.showSpinner();
            gridObj.excelExport();
        }
    }

    function pdfExportComplete(args) {
        this.hideSpinner();
    }
    
    function excelExportComplete(args) {
        this.hideSpinner();
    }
</script>

<script>
    function grid_created() {
        var toolbar = this.element.querySelector('.e-toolbar');
        this.element.appendChild(toolbar);
    }
</script>